* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 3px;
  border-radius: 0;
}
body::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0;
}
body::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 0;
}

a {
  font-weight: 500;
  color: #f28e1c;
  text-decoration: inherit;
}
/* a:hover {
  background: linear-gradient(150deg, #047376 0%, #4f6fb5 90%);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent; 
  -webkit-text-fill-color: transparent;
} */

body {
  margin: 0;
  background: linear-gradient(4deg, #0d1b2a, #1b3a4b, #145b6f);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
